table.simple, td.simple
{
    border-color: #black;
    border-style: solid;
}

table.simple
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

td.simple
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
/*
    background-color: #FFC;
*/
}
