table.simple, td.simple
{
    border-color: #black;
    border-style: solid;
}

table.simple
{
    border-spacing: 0;
    border-collapse: collapse;
}

td.simple
{
    margin: 0;
    padding: 4px;
    border: 1px solid #90B2D2;
/*
    background-color: #FFC;
*/
}

.ui-icon {
    float: left;
}

.ui-state-highlight {
    padding: 3px;
    margin-bottom: 10px;
}

img.plain
{
    border: hidden;
}


a.button
{
    border: 1px solid black;
    padding: 5px;
    margin-right: 5px;
}

div.contentbox {
    float:left;
    position:relative;
    margin-right: 1em;
}

a.jslink {
    cursor:pointer;
}

p.slim {
	margin-top: 4px;
}

#layoutImg {
	cursor: pointer;
}