<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Wink Hosting (www.winkhosting.com)" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="images/style.css" type="text/css" />
	<title>{{ page.title }} - Medienverwaltung Projekt Page</title>
</head>
<body>
	<div id="page" align="center">
        <!--
		<div id="toppage" align="center">
			<div id="date">
				<div class="smalltext" style="padding:13px;"><strong>April 21, 2007</strong></div>
			</div>
			<div id="topbar">
				<div align="right" style="padding:12px;" class="smallwhitetext">
                    <a href="index.html">Home</a> |
                    <a href="http://dummy3k.github.com/medienverwaltung/">Source Code</a>
                </div>
			</div>
		</div>
        -->
		<div id="header" align="center">
			<div class="titletext" id="logo">
				<!-- <div class="logotext" style="margin:30px"><span class="orangelogotext">M</span>V</div>  -->
                <img src="/images/buecher-patrickgage.png" />
			</div>
			<div id="pagetitle">
				<div id="title" class="titletext" align="right">Medienverwaltung</div>
			</div>
		</div>
		<div id="content" align="center">
			<div id="menu" align="right">
				<div align="right" style="width:189px; height:8px;"><img src="images/mnu_topshadow.gif" width="189" height="8" alt="mnutopshadow" /></div>
				<div id="linksmenu" align="center">
					<a href="index.html" title="Home">Home</a>
					<a href="screenshots.html" title="Screenshots">Screenshots</a>
					<a href="downloads.html" title="Downloads">Downloads</a>
					<a href="documentation.html" title="Documentation">Documentation</a>
				</div>
				<div align="right" style="width:189px; height:8px;"><img src="images/mnu_bottomshadow.gif" width="189" height="8" alt="mnubottomshadow" /></div>
			</div>
		<div id="contenttext">
			<div class="bodytext" style="padding:12px;" align="justify">
                {{ content }}
			</div>
            <!--
			<div class="panel" align="justify">
				<span class="orangetitle">Some Title Here</span>
				<span class="bodytext"><br />
				Nullam et ipsum condimentum pede luctus consequat. Nulla venenatis mi a sapien. Nunc facilisis pede quis nisl. Duis eget sapien. Suspendisse potenti. Vestibulum eget ligula in ante pharetra imperdiet. Maecenas vehicula luctus mi. Suspendisse molestie libero vitae magna. Integer metus tortor, mollis eleifend, tincidunt in, sagittis eget, lorem. Donec posuere. Curabitur ut eros. Praesent vitae sem facilisis tellus euismod scelerisque. Donec pellentesque. Vestibulum scelerisque, turpis pellentesque sollicitudin nonummy, ipsum erat consequat augue, ut tincidunt urna magna ut leo. Nullam ullamcorper metus vitae est. Ut diam metus, molestie porttitor, pretium vitae, ultricies nec, pede. Maecenas bibendum dictum tellus. Vestibulum feugiat, velit quis eleifend pharetra, leo lacus laoreet diam, quis laoreet arcu mi vel felis.			</span>			</div>
			</div>
            -->
		</div>
		<div id="footer" class="smallgraytext" align="center">
            <a href="index.html" title="Home">Home</a> |
            <a href="screenshots.html" title="Screenshots">Screenshots</a> |
            <a href="downloads.html" title="Downloads">Downloads</a> |
            <a href="documentation.html" title="Documentation">Documentation</a>

            <!--
			<a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a><br />
			Your Company Name &copy; 2007<br />
			<a href="http://www.winkhosting.com" title="Hosting Colombia">Hosting Colombia</a><br />
            -->
		</div>
	</div>
</body>
</html>
